scikit-learn==0.24.2     # biblioteca para o aprendizado da máquina
matplotlib==3.4.2       # biblioteca para a plotagem do gráfico
flask==2.0.1             # biblioteca para o desenvolvimento web em python